{% extends "layout.html" %}
{% block Content %}
<h1 class="text-center">{{ user.first_name.title() }} {{ user.last_name.title() }}</h1>
<p>City: {{ user.city.city_name }}</p>
<p>Barcode: {{user.barcode }}</p>
<p>Expires: {{user.expiration_date.strftime("%m-%d-%Y") }}</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Charge Type</th>
            <th scope="col">Qty</th>
            <th scope="col">Sub-Total</th>
        </tr>
    </thead>
    <tbody>
        {% for id, fee in fees.items() %}
            <tr>
                <td>
                    {{ fee.fee.name.upper() }} 
                </td>
                <td>
                    {{ fee.qty }} 
                </td>
                <td>
                    ${{ '{0:0.2f}'.format(fee.total) }}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td>
            </td>
            <td>
                <strong>Grand Total</strong>
            </td>
            <td>
                {{ '{} punches'.format(grand_total) }}
            </td>
            <p></p>
        </tr>
    </tbody>
</table>
<form class="form", method="post", action="{{ url_for('confirmation') }}">
      <input id="barcode" name="barcode" class="form-control" type="hidden" value="{{ user.barcode }}" />
  {% for id, fee in fees.items() %}
        <input class='form-control' type="hidden" name="{{ id }}" id="{{ id }}", value="{{ fee.qty }}">
  {% endfor %}
  <div class="text-center">
  <button type="submit" class="btn btn-lg btn-primary col-6">Confirm Transaction</button>
  </div>
</form>
{% endblock Content %}