{% extends "layout.html" %}
{% block Content %}
{{ form.hidden_tag() }}

<form method="post" action="{{ url_for('home')}}">
{{ form.csrf_token }}
<div class="form-group">
    {{ form.barcode.label(class="form-control-label")}}
    {{ form.barcode(class="form-control")}}
    {% for error in form.barcode.errors %}
      <span class="warn">{{ error }}</span>
    {% endfor %}
</div>
<div class='container'>
{% for charge in charges %}
  <div class="form-row">
    <div class="col text-center">
      <label for="charge-{{charge.name|replace(' ','-')}}">{{ charge.name.upper() }} per {{ charge.unit_of_measure.upper() }}</label>
    </div>
    <div class="col">
      <i class="fa fa-arrow-up"></i>
      <input class='form-control text-center' type="number" name="{{charge.id}}" id="charge-{{charge.name|replace(' ','-')}}">
      <i class="fa fa-arrow-down"></i>
    </div>
  </div>
{% endfor %}
<div class="submit-button">
{{form.submit(class='btn btn-primary')}}
</div>
</div> 
</form>

<script src="{{ url_for('static', filename='js/buttons.js') }}"></script>
{% endblock Content %}