{% extends "layout.html" %}
{% block Content %}
<form>
  <div class="form-group">
      <input id="barcode" class="form-control" type="text" />
      <label for="barcode">Barcode:</label>
    <small id="barcodeHelp" class="form-text text-muted">Capture the barcode of the landfill license</small>
  </div>
  {% for charge in charges %}
    <div class="form-row">
      <div class="col">
        <label for="charge-{{charge.name|replace(' ','-')}}">{{ charge.name.upper() }} per {{ charge.unit_of_measure.upper() }}</label>
      </div>
      <div class="col">
        <input class='form-control' type="number" id="charge-{{charge.name|replace(' ','-')}}">
      </div>
    </div>
  {% endfor %}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock Content %}