{% extends "layout.html" %}
{% block Content %}
{{ form.hidden_tag() }}

<div class='container pb-5'>
<form class='pb-5' method="post" action="{{ url_for('home')}}">
{{ form.csrf_token }}
<div class="form-group">
    {{ form.barcode(class="form-control", placeholder="Barcode")}}
    {% for error in form.barcode.errors %}
      <span class="danger">{{ error }}</span>
    {% endfor %}
</div>
{% for charge in charges %}
    <div class="form-group row">
      <div class="col">
        <label class="mt-4" for="charge-{{charge.name|replace(' ','-')}}">
          {% if charge.unit_of_measure %} 
           {{ charge.unit_of_measure }} of
          {% endif %}
          {{ charge.name.upper() }}</label>
      </div>
      <div class="col text-center">
        <i class="fa fa-minus  mx-auto"></i>
        <input class='form-control text-center col-4 mx-auto d-inline' type="number" name="{{charge.id}}" id="charge-{{charge.name|replace(' ','-')}}">
        <i class="fa fa-plus mx-auto"></i>
      </div>
    </div>
{% endfor %}
<div class="submit-button fixed-bottom text-center m-1 py-3">
  {{form.submit(class='btn btn-lg btn-primary col-6')}}
</div>
</form>

<script src="{{ url_for('static', filename='js/buttons.js') }}"></script>
</div>
{% endblock Content %}
