 <header id="navbar" role="banner" class="navbar container navbar-default">
  <div class="container">
    <div class="navbar-header">
        <a class="logo sm-logo navbar-btn  pull-left" href="{{ url_for('home')}}" title="Home">
            <img src="{{ url_for('static', filename='images/col-logo.png') }}" alt="Home" />
        </a>
    </div>
    <nav class="navbar nav pull-right">
        <ul class='navbar-nav'>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
  </div>

</header>