/* div.form-row label {
    margin-top: 4rem
}
div.form-row input.form-control {
    width: 5rem;
    height: 2.5rem;
} */

div.row i {
    font-size: 3rem;
    /* margin-left: 1rem; */
    /* height: 1rem; */
}

 .submit-button {
     background-color: rgba(200,200,200,.75);
}

